body {
    color: black;
	
}
*{	background-color: white;
	border-radius: 0 0 0 0;}
/* 个人信息 */
.user {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5rem 1rem 0 ;
    color: black;
	border-radius: 1rem 1rem 0 0;
}

.user-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.user-name {
    margin-left: 1rem;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    max-width: 16rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	margin-right: 0.5rem;
}

.date {
    font-size: 10px;
    color: gray;

}

.more {
    width: 2.5rem;
    height: .3.5rem;
}

/* 笔记 */
.cover {
    display: block;
    margin-top: .5rem;
    width: 37.5rem;
    height: 16.8rem;
    background-size: cover;
    background-position: center center;
}

.note-title {
    padding: 0 3rem;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


.note-title2 {
    padding: 1rem 3rem 0;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.note-text {
    padding: 1rem 3rem 0;
    width: 100%;
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
}

.note-image {
    display: block;
    padding: 2rem 3rem 0;
    width: 100%;
    height: auto;
}

/*  */

.post-title {
   width: 100%;
    padding-top: 0.5rem;
    padding-right: 1rem;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
	padding-left: 1rem;
	font-weight: bold;
}

.post-content {
   width: 100%;
    padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
    line-height: 20px;
    font-size: 14px;
}

.post-images {
    position: relative;
   width: 100%;
    padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom:0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-1 {
    width: 33rem;
    height: 24.1rem;
    background-size: cover;
    background-position: center center;
}

.img-2 {
    width: 16.1rem;
    height: 24.1rem;
    background-size: cover;
    background-position: center center;
}

.img-3-left {
    width: 19.2rem;
    height: 24.1rem;
    background-size: cover;
    background-position: center center;
}

.img-3-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 13.1rem;
    height: 24.1rem;
    background-size: cover;
    background-position: center center;
}

.img-3-item {
    width: 12.6rem;
    height: 24.1rem;
    background-size: cover;
    background-position: center center;
}


.img-4-left {
    width: 19.2rem;
    height: 20.2rem;
    background-size: cover;
    background-position: center center;
}

.img-4-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 13.1rem;
    height: 20.2rem;
    background-size: cover;
    background-position: center center;
}

.img-4-item {
    width: 12.6rem;
    height: 13.9rem;
    background-size: cover;
    background-position: center center;
}

.img-4-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12.6rem;
    height: 6rem;
    background-size: cover;
    background-position: center center;
}

.img-4-item2 {
    width: 6.1rem;
    height: 6rem;
    background-size: cover;
    background-position: center center;
}

.total {
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size: 12px;
    color: #666;
	margin-left: 0.5rem;
	margin-top: 0.5rem;

}

/* 投票 */
.vote-item {
	padding-left: 1rem;
	padding-right: .7rem;
    height: 3.5rem;
    position: relative;
    display: flex;
    align-items: center;
	background-color: white;
	
}

.vote-item .icon {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 1rem;

    background-size: cover;
    background-position: center center;
}

.vote-item .vote {
    flex: 1;
    position: relative;
    height: 2.8rem;
    border-radius: .7rem;
	background: ff9baa;
	
}

.vote-item .vote .chose {
    position: absolute;
    top: 0;
    left: 0;
    background: #ff9baa;
    height: 2.8rem;
    border-radius: .6rem;
}

.vote-item .vote .text {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 1rem;
    width: 22rem;
    font-size: 12px;
    line-height: 2.8rem;
    font-weight: bold;
    height: 2.8rem;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	background-color: #ff9baa;

}

.vote-item .vote .pre {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 10px;
    line-height: 2.8rem;
    font-weight: bold;
    height: 2.8rem;
    color: white;
}

.vote-item .radio {
    width: 2rem;
    height: 2rem;
    margin-left: .6rem;
    background-size: cover;
    background-position: center center;
}

.vote-status {
    width: 100%;
    padding-top: 1rem;
    height: 2rem;
    line-height: 40rpx;
    font-size: 12px;
    font-weight: lighter;
    color: black;
	padding-left: 1rem;
}

/* 视频 */
.video {
    display: block;
    width: 100%;
    position: relative;
    height: 22.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* 状态栏 */
.post-status {
   width: 100%;
    padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
    display: flex;
    align-items: center;
}

.post-status .zan {
    display: flex;
    align-items: center;
}

.post-status .nums {
    font-size: 14px;
	font-weight: bold;
	color: gray;
}

.post-status .image {
    height: 2rem;
    width: 2rem;
    background-size: cover;
    background-position: center center;
}

.post-status .share {
    margin-left: 2rem;
    height: 2rem;
    width: 2rem;
    background-size: cover;
    background-position: center center;
}

.post-status .group-name {
    height: 2rem;
    line-height: 2rem;
    font-size: 14px;
    padding: 0 1.1rem;
    border-radius: 1.7rem;
    color: #fff;
    background: #ff3a56;
	font-weight: bold;
	}

/* 评论 */

.empty-comments {
    font-size: 13px;
    margin: 1rem auto 0;
    color: #969696;
    text-align: center;
}

.comment {
    width: 100%;
    padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
    display: flex;
    color: #000;
	
}

.com-head {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

.com-content {
    flex: 1;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;

}

.com-name {
    font-weight: 900;
    font-size: 14px;
	
}

.com-text {
    margin-top: .5rem;
    font-size: 13px;
	font-weight: bold;
	color: gray;
}

.com-status {
    margin-top: .5rem;
    height: 1rem;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.com-status .date {
    flex: 1;
    color: gray;
	
}

.com-status .reply {
    margin-right: 1.5rem;
}

.com-status .zan-view {
    display: flex;
    align-items: center;
}

.com-status .zan-view .image {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .3rem;
    background-size: cover;
    background-position: center center;
}

.replies {
    margin-top: .5rem;
    border-radius: 1rem;
    padding: .5rem;
    background: #171717;
}

.reply-item {
    margin-bottom: .5rem;
}

.reply-user {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 900;
}

.reply-user .image {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-right: .5rem;
    background-size: cover;
    background-position: center center;
}

.reply-content {
    margin-top: .5rem;
    font-size: 12px;
}

/* 热门帖子 */
.hot-post-title {
   width: 100%;
    padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
    height: 2.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.hot-post {
   width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	border-radius: 0 0 1rem 1rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;

}

.hot-item {
    margin-top: 1.5rem;
    width: 15.7rem;
    height: 22rem;
	
}

.hot-item .image {
    position: relative;
    display: block;
    width: 100%;
    height: 16.2rem;
    background-size: cover;
    background-position: center center;
}

.hot-item .title {
    margin-top: .5rem;
    height: 2.8rem;
    box-sizing: border-box;
    padding: 0 .25rem;
    line-height: 1.4rem;
    font-size: 12px;
    font-weight: bold;
    color: gray;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hot-item .hot-status {
    margin-top: .5rem;
    height: 2rem;
    display: flex;
    align-items: center;
}

.hot-status .hot-icon {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

.hot-status .hot-name {
    flex: 1;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 13px;
    height: 2rem;
    line-height: 2rem;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
	font-weight: bold;
}
.hot-status .hot-zan {
    height: 1.5rem;
    width: 1.5rem;
    background-size: cover;
    background-position: center center;
}

.hot-status .hot-zan-nums {
    font-weight: 500;
    height: 2rem;
    line-height: 2rem;
    color: gray;
    font-size: 14px;
}



.share-popup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    height: 5rem;
 	background-color: #f2f2f2;

}

.share-popup .user-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
	margin-left: 0.5rem;
	
}

.share-popup .user-info {
    flex: 1;
    color: white;
    margin-left: .5rem;
	background-color: #f2f2f2;
	font-weight: bold;
}
.share-popup .user-info-title {
    color: black;
    font-size: 14px;
	background-color: #f2f2f2;
	margin-bottom: 0.5rem;
}
.share-popup .user-info-message {
    color: black;
    font-size: 14px;
	background-color: #f2f2f2;
}

.share-popup .btn {
    height: 40px;
    border-radius: 28px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    width: 100px;
    color: white;
    background: #ff3a56;
    margin-right: 1.6rem;
	line-height: 40px;
	font-weight: bold;
}	

.empty {
    width: 100%;
    height: 7rem;
	background-color: #93d1f1;visibility: hidden;
}.user-info-title {
}
